<!doctype html>
<html lang="<%= I18n.locale %>">
  <head data-hook="inside_head">
    <%= render partial: 'spree/checkout/shared/head' %>
  </head>

  <body id=checkout-page>
    <div id=checkout-container>
      <header>
        <%= render partial: 'spree/checkout/shared/header' %>
      </header>

      <aside>
        <%= yield :aside if content_for?(:aside) %>
      </aside>

      <main>
        <%= yield %>
      </main>

      <footer>
        <%= render 'spree/shared/copyright' %>
      </footer>
    </div>

    <%= flash_messages %>
  </body>
</html>
