<div data-hook="checkout_content">
  <%= render partial: 'spree/shared/error_messages', locals: { target: @order } %>

  <%= form_with modle: @order, url: spree.update_checkout_path(@order.state), html: { id: "checkout_form_#{@order.state}", class: "row" } do |form| %>
    <div class=col-12 data-hook=checkout_form_wrapper>
      <%= form.hidden_field :state_lock_version %>
      <%= render @order.state, form: form %>
    </div>

    <div class=col-12 data-hook=buttons>
      <% submit_label_key = @order.confirm? ? :place_order : :save_and_continue %>
      <%= submit_tag Spree.t(submit_label_key), class: 'btn btn-primary text-uppercase font-weight-bold w-100 checkout-content-save-continue-button' %>
    </div>
  <% end %>
</div>

