<% content_for :modal_header do %>
  <h5 class="modal-title"><%= Spree.t(:log_in_to_continue) %></h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
<% end %>

<% content_for :modal_body do %>
  <div class="container">

    <div class="col-12">
      <%= form_for Spree.user_class.new, as: :spree_user, url: spree_login_path, data: { turbo: false } do |f| %>
        <div id="password-credentials" class="mb-4">
          <div class="form-floating mb-4">
            <%= f.email_field :email, placeholder: Spree.t(:email), value: params.dig(:spree_user, :email) %>
            <%= f.label :email, Spree.t(:email) %>
          </div>
          <div class="form-floating mb-4">
            <%= f.password_field :password, placeholder: Spree.t(:password) %>
            <%= f.label :password, Spree.t(:password) %>
          </div>
        </div>

        <% if Spree::Frontend::Config[:remember_me_enabled] %>
          <div class="form-check">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me, Spree.t(:remember_me) %>
          </div>
        <% end %>

        <%= f.submit Spree.t(:login), class: 'btn btn-primary btn-block spree-btn mt-2' %>
      <% end %>

      <% if spree.respond_to?(:recover_password_path) %>
        <div class="text-center forgot-password mb-4">
          <%= link_to Spree.t(:forgot_password), spree.recover_password_path %>
        </div>
      <% end %>
    </div>

  </div>
<% end %>

<% content_for :modal_footer do %>
  <%#= remote_form_submit_button(@object) %>
<% end %>

<%= render partial: 'spree/admin/shared/modal', locals: { modal_dialog_settings: 'modal-dialog-scrollable modal-dialog modal-dialog-centered modal-lg' } %>

