<% if !try_spree_current_user || try_spree_current_user.email.blank? %>
  <div class="row">
    <div class="col-12 mb-4">
      <div class="form-group checkout-content-inner-field has-float-label">
        <%= form.email_field :email, class: 'required spree-flat-input', required: true, placeholder: Spree.t(:email) %>
        <%= form.label :email, class: 'text-uppercase' %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <% ['billing', 'shipping'].each do |address_type| %>
    <% address_name = "#{address_type[0...4]}_address" %>

    <div class="col-12 my-4" data-hook="<%= address_type %>_fieldset_wrapper" data-controller='form--validation'>
      <div class=d-flex>
        <div class=flex-fill>
          <h5>
            <%= Spree.t(address_type + '_address') %>
          </h5>
        </div>
        <% if user_available_addresses.present? %>
          <div>
            <%= link_to(spree.edit_checkout_address_path(address)) do %>
              <%= spree_checkout_svg_tag('edit.svg') %>
            <% end %>
          </div>
        <% end %>
      </div>

      <% if user_available_addresses.present? %>
        <div class="row">
          <div class="col-auto">
            <% user_available_addresses.each_with_index do |address, idx| %>
            <div class="row mb-3" id="<%= [address_type, dom_id(address)].join('_') %>">
              <label class="form-check-label spree-radio-label col-8">
                <%= form.radio_button "#{address_name}_id", address.id, checked: (address.id == try_spree_current_user["#{address_name}_id"] || idx == 0) %>
                <span class="spree-radio-label-custom-input"></span>
                  <%= render "spree/checkout/addresses/users/address_v_card", address: address %>
              </label>

              <%= render "spree/checkout/addresses/users/address_controls", address: address %>
            </div>
            <% end %>
            <div class="row mb-3">
              <label class="form-check-label spree-radio-label col">
                <%= form.radio_button "#{address_name}_id", 0, class: 'form-check-input' %> <h4><%= Spree.t('address_book.other_address') %></h4>
                <span class="spree-radio-label-custom-input"></span>
              </label>
            </div>
          </div>
        </div>
      <% end %>

      <%= form.fields_for address_name.to_sym do |address_form| %>
        <%= render partial: 'spree/checkout/addresses/form', locals: { address_name: address_name,
                                                                       address_form: address_form,
                                                                       address_type: address_type,
                                                                       address: Spree::Address.new(country: current_store.default_country),
                                                                       form: address_form } %>
      <% end %>

      <%= button_tag :update_country, formaction: spree.checkout_change_address_country_path(address_kind: address_name), formmethod: :post, formnovalidate: true, style: 'display: none;', data: { form__validation_target: "submitBtn" } %>
    </div>

    <% if address_type == 'billing' %>
      <div data-hook="use_billing">
        <div class="form-check">
          <%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address?, { class: 'form-check-input' } %>
          <%= label_tag :order_use_billing, Spree.t(:use_billing_address), class: 'form-check-label' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= hidden_field_tag :save_user_address, true %>
</div>

<% content_for :back_button do %>
  <%= link_to spree.cart_path, class: 'btn btn-link' do %>
    <%= spree_checkout_svg_tag('chevron-left.svg') %> <%= Spree.t(:return_to_cart) %>
  <% end %>
<% end %>

<% content_for :proceed_button do %>
  <%= submit_tag I18n.t("spree.checkout.continue_to_#{next_step_name}"), class: 'btn btn-primary w-100' %>
<% end %>
