<% if !try_spree_current_user || try_spree_current_user.email.blank? %>
  <div class="row">
    <div class="col-12 mb-4">
      <div class="form-group checkout-content-inner-field has-float-label">
        <%= form.email_field :email, class: 'required spree-flat-input', required: true, placeholder: Spree.t(:email) %>
        <%= form.label :email, class: 'text-uppercase' %>
      </div>
    </div>
  </div>
<% end %>

<div class="row">
  <%# Below we are capturing the billing address and cloning it to the shipping address. %>
  <%# we do this to streamline the checkout flow, we can ask if the user wants to change the billing %>
  <%# address on the payment page. %>
  <% ['shipping'].each do |address_type| %>
    <% address_name = "#{address_type[0...4]}_address" %>

    <div class="col-12" data-hook="<%= address_type %>_fieldset_wrapper" data-controller='form--validation'>
      <div class=d-flex>
        <div class=flex-fill>
          <h5>
            <%= Spree.t('shipping_address') %>
          </h5>
        </div>

        <% if spree_checkout_user_available_addresses.present? %>
          <div>
            <%= link_to(spree.address_manager_checkout_addresses_path, class: 'btn btn-sm btn-link',method: :get, data: { turbo_frame: :modal }) do %>
              Use an existing address
            <% end %>
          </div>
        <% end %>
      </div>

      <%= form.fields_for address_name.to_sym do |address_form| %>
        <%= render partial: 'spree/checkout/addresses/form', locals: { address_name: address_name,
                                                                       address_form: address_form,
                                                                       address_type: address_type,
                                                                       address: Spree::Address.new(country: current_store.default_country),
                                                                       form: address_form } %>
      <% end %>

      <%= button_tag :update_country, formaction: spree.checkout_change_address_country_path(address_kind: address_name), formmethod: :post, formnovalidate: true, style: 'display: none;', data: { form__validation_target: "submitBtn" } %>
    </div>

    <% if address_type == 'billing' %>
      <div class="d-none" data-hook="use_billing">
        <div class="form-check">
          <%= check_box_tag 'order[use_billing]', '1', @order.shipping_eq_billing_address?, { class: 'form-check-input' } %>
          <%= label_tag :order_use_billing, Spree.t(:use_billing_address), class: 'form-check-label' %>
        </div>
      </div>
    <% end %>
  <% end %>

  <%= hidden_field_tag :save_user_address, true %>
</div>
