<%= render partial: "spree/checkout/orders/components/#{@order.state}" %>
<%= render partial: 'spree/checkout/shared/error_messages', locals: { target: @order } %>

<% if content_for :express_checkout_options %>
  <% if spree_checkout_express_checkout_payment_methods.any? %>
    <div id=express-checkouts>
      <div class=notation-bar><%= I18n.t('spree_checkout.express_checkout') %></div>
      <%= yield :express_checkout_options %>
      <div class=notation-bar>or</div>
    </div>
  <% end %>
<% end %>

<%= yield :attained_order_info %>

<%= form_with model: @order, url: spree.checkout_path(@order.state) do |form| %>
  <div class=row>
    <div class=col-12 data-hook=checkout_form_wrapper>
      <%= form.hidden_field :state_lock_version %>
      <%= render @order.state, form: form %>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-6">
      <%= yield :back_button %>
    </div>

    <div class="col-6">
      <%= yield :proceed_button %>
    </div>
  </div>
<% end %>
