<div class="row">
  <div class="col-12">
    <%= render partial: 'spree/checkout/shared/login' if defined?(spree_login_path) %>
  </div>

  <div class="col-12">
    <% if Spree::Config[:allow_guest_checkout] %>

      <div class=my-3>
        <div class=notation-bar><h5>or</h5></div>
      </div>

      <%= form_for @order, method: :put, url: spree.checkout_update_registration_path do |f| %>
        <div class=d-flex>
          <div class=flex-fill>
            <div class="mb-3 form-floating">
              <%= f.email_field :email, class: 'form-control', placeholder: Spree.t(:email), value: params.dig(:spree_user, :email) %>
              <%= f.label :email, Spree.t(:email) %>
            </div>
          </div>
          <div class=ms-3>
            <%= f.submit Spree.t(:continue_as_guest), class: 'btn btn-block btn-outline-primary spree-btn' %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>

